# EEE3027 Embedded Systems - Programming Lab 1
> This is the first introductory lab for the second part of this module focusing on Machine Learning using Python.

To properly understand JupyterLab, please consider looking at the link below
-https://jupyterlab.readthedocs.io/en/stable/index.html

## Fundamentals of Python Programming for Data Analysis
> This Lab focuses on the fundamentals of Python programming including variables, data types, lists & dictionaries, operators, conditional statements, loops, modules, functions, and Debugging Techniques.

> Please reference the programming labs slides for theoretical knowledge

Some useful links include
- https://libguides.ntu.edu.sg/python
- https://www.enjoyalgorithms.com/blog/basic-python-for-ml-data-science

### Variables

#### Examples:

In [ ]:
box = "books"  	# The string value "books" is assigned to the variable box

In [ ]:
age = 23	# The number value 23 is assigned to (=) the variable age

In [ ]:
building_name = "Merz Court"	#The string value "Merz Court" is assigned to the variable building_name

In [ ]:
myList = ["apples", "bananas", "cherries"]	# The list of fruits are assigned to the variable myList.

***Tip!**  - It is good practice to choose meaningful/descriptive names that reflect the variableâ€™s content for easier identification when you or someone else revisits your codes.*

#### Exercise:
1. Create a variable called name, and store your first name and second name as a string into the variable you created and print.

*TIP! - Use **print()** function to print*

In [ ]:
# Write code here.
Name = "Shreyas Ravi"
print(Name)

Shreyas Ravi

2. Are you able to print the following and give reasons why? If not make appropriate changes to make all printable
-  YEAR = 1995
-  course_code = "EEE3027"
-  01_street = "Some Street"
-  my-birth-year = xxxx

In [ ]:
# Write code here.
YEAR = 1995
course_code = "EEE3027"
# 01_street = "Some Street" -- Cannot print as starts with a numerical
Street_01 = "Some Street"
# my-birth-year = xxxx -- Cannot print as 'minus' operator is being used in a variable, and xxxx must be given as a string
my_birth_year = "17.03.2004"
print(YEAR)
print(course_code)
print(Street_01)
print(my_birth_year)

1995
EEE3027
Some Street
17.03.2004

### Data Types:

#### Examples:

In [ ]:
#Step 1: Assign your data to variables
example_1 = "Hello World"
example_2 = 254
example_3 = 25.43
example_4 = ["Anna", "Bella", "Cora"]

#Step 2: Check data types
print(type(example_1))
print(type(example_2))
print(type(example_3))
print(type(example_4))

In [ ]:
#-------------------------------------------------------------------------------------
# Convert from integer to float
int_to_float = float(15) #These codes converts the data value
print(int_to_float) #These codes will print the converted data value
print(type(int_to_float)) #These codes will print the data type

In [ ]:
# Convert from float to integer
float_to_int = int(23.56)
print(float_to_int)
print(type(float_to_int))

In [ ]:
#Convert from integer to string
int_to_string = str(51)
print(int_to_string)
print(type(int_to_string))

In [ ]:
#Convert from string to integer
string_to_integer = int("6589")
print(string_to_integer)
print(type(string_to_integer))

#### Exercise:

1. Determine and print the type of the following variables

* variable1 = 123
* variable2 = "123"
* variable3 = 123.456

In [ ]:
# Write code here.
variable1 = 123 # Int
variable2 = "123" # String
variable3 = 123.456 # Float
print(type(variable1))
print(type(variable2))
print(type(variable3))

<class 'int'>
<class 'str'>
<class 'float'>

2. Convert the following variables and print the result

* Convert this float into an integer
    - variable4 = 23.0
* Convert this string into an integer
    - variable5 = "6000"

In [ ]:
# Write code here.
variable4 = 23.0
variable5 = "6000"
variable4 = int(variable4)
variable5 = int(variable5)
print(f"variable4 ({variable4}) is of type: {type(variable4)}")
print(f"variable5 ({variable5}) is of type: {type(variable5)}")

variable4 (23) is of type: <class 'int'>
variable5 (6000) is of type: <class 'int'>

### Lists

#### Examples:

In [ ]:
listOfNumbers = [1,2,3,4,5,6,7,8,9,10]
print(listOfNumbers)
print("\n")
listOfFruits = ["apples", "bananas", "cherries"]
print(listOfFruits)
print("\n")
listOfStuff = [10, "apples", 3.14, ["ant", "bee"]]
print(listOfStuff)
print("This list contains an integer, a string, a float and a list.")

In [ ]:
#List Indexing
myList01 = ["apples", "bananas", "cherries", "dragonfruit", "elderberry"]
print(myList01[0])
print(myList01[2])
print(myList01[-4])
print(myList01[-1])
print("\n")

In [ ]:
#List Slicing
myList = ["apples", "bananas", "cherries", "dragonfruit", "elderberry"]
#Accessing the first item in the list
print(myList[0])
#Accessing the first 3 items in the list
print(myList[0:3])
#Accessing the last 2 items in the list
print(myList[3:5])

In [ ]:
#APPEND METHOD
#Append a string item
myList = ["apples", "bananas", "cherries"]
myList.append("blueberries")
print(myList)
#Append a list - blueberries and cantaloupes are grouped as 1 element
myList = ["apples", "bananas", "cherries"]
myList.append(["blueberries", "cataloupes"])
print(myList)

In [ ]:
#EXTEND METHOD
#This adds new elements in myList
myList = ["apples", "bananas", "cherries"]
myList.extend(["blueberries", "cataloupes"])
print(myList)

In [ ]:
#INSERT METHOD
myList = ["apples", "bananas", "cherries"]
myList.insert(2, "blueberries")
print(myList)

In [ ]:
#REMOVE METHOD
myList = ["apples", "bananas", "cherries"]
myList.remove("cherries")
print(myList)

In [ ]:
#POP METHOD
myList = ["apples", "bananas", "cherries"]
removedElement = myList.pop(2)
print(myList)
print(removedElement)

In [ ]:
#DELETE METHOD
myList = ["apples", "bananas", "cherries"]
del(myList[2])
print(myList)

#### Exercise:

Create and print a list with these elements: Adam, Adora, Ella
> Please create the list before every question below

1. List indexing: Find the third element in the list

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
print(names[2])

Ella

2. List slicing: Access the last 2 items in the list

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
print(names[1:3])

['Adora', 'Ella']

3. Add these elements to the list using the append and extend methods: Lila, James

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
names.append("Lila")
names.append("James")
print(names)

['Adam', 'Adora', 'Ella', 'Lila', 'James']

In [ ]:
names = ["Adam","Adora","Ella"]
names.extend(["Lila","James"])
print(names)

['Adam', 'Adora', 'Ella', 'Lila', 'James']

4. Insert this element to the list after the second element: Lila

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
names.insert(2, "Lila")
print(names)

['Adam', 'Adora', 'Lila', 'Ella']

5. Remove Adam from the list

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
names.remove("Adam")
print(names)

['Adora', 'Ella']

6. Remove the second element from the list using pop and delete

In [ ]:
# Write code here.
names = ["Adam","Adora","Ella"]
names.pop(1)
#del(names[1])
print(names)

['Adam', 'Ella']

### Dictionaries

#### Examples:

In [ ]:
myCar = {
   "Brand": "Hyundai",
   "Model": "Palisade",
   "Year": 2020
}
print(myCar)

student={"Name": "Tom Tomlin", "Age": 24, "School": "Newcastle University"}
print(student)

#Access the value directly
print(myCar["Model"])
#Access the value by assigning it to a new variable
studentName = student["Name"]
print(studentName)

In [ ]:
myCar = {
   "Brand": "Hyundai",
   "Model": "Palisade",
   "Year": 2020
}
#Add the new key:value element
myCar["Color"] = "Wine Red"
#You will see the update when you print the dictionary
print(myCar)

In [ ]:
myCar = {
   "Brand": "Hyundai",
   "Model": "Palisade",
   "Year": 2020
}
#Update the new value by referencing the key
myCar["Model"] = "Genesis"
#You will see the update when you print the dictionary
print(myCar)

In [ ]:
myCar = {
   "Brand": "Hyundai",
   "Model": "Palisade",
   "Year": 2020
}
#Remove the element by referencing the key
myCar.pop("Model")
#You will see the update when you print the dictionary
print(myCar)

#### Exercises:

1. Create a new dictionary database called myClass as an empty dictionary. Add the following key-value pairs:

|--------------|----------------------------|--------|
| Keys         | Values                     | Types  |
|--------------|----------------------------|--------|
| "Instructor" | "Anna"                     | String |
| "Assistants" | ["Ted", "Nat", "Wei Meng"] | List   |
| "Students"   | 20	                        | Int    |

2. Add a fourth assistant to your database, named Mark

3. Someone from another class has joined this class. add the students count by 1

4. Print out everything you know about your database.

**Expected Output:**

{"Instructor": "Anna", "Assistants": ["Ted", "Nat", "Wei Meng", "Mark"], "Students": 21 }tudents": 21 }

In [1]:
# Write code here.
myClass = {}
myClass = {"Instructor":"Anna",
           "Assistants":["Ted","Nt","Wei Meng"],
           "Students": 20}
myClass["Assistants"].append("Mark")
myClass["Students"] += 1
print(myClass)

{'Instructor': 'Anna', 'Assistants': ['Ted', 'Nt', 'Wei Meng', 'Mark'], 'Students': 21}

### Input Function

#### Examples:

In [ ]:
#EXAMPLE 1
#1. Request for user input
name = input("Enter your name: ")
#2. Print user's input. This line of code uses concatenation (from unit 1.4).
print("Your name is " + name + ".")
print("\n")

In [ ]:
#EXAMPLE 2
#1. Request for user input
users_choice = input("Do you want to continue? (Yes/No): ")
#2. Print user's input. This line of code uses concatenation (from unit 1.4).
print("You have chosen " + users_choice + ".")

In [ ]:
# Using Inputs function with numbers
#BEFORE TYPE CONVERSION
x = input("Enter first number: ")  #1. Ask user to input the first number
y = input("Enter second number: ")  #2. Ask user to input the second number
z = x + y  #3. Tell Python to add the numbers
print(z)  #4. Tell Python to print the result

In [ ]:
#AFTER TYPE CONVERSION
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = x + y
print(z)

Compare the results. Can you tell the difference?

#### Exercises:
Request for user input and print them out

1. Request fothe r user's fauourite fruit

2. the Ask user how many family members they have

3the . Ask user for 2 numbers and strac

t them

In [1]:
# Write code here.
fav_fruit = input("Enter your favourite fruit: ")
print(fav_fruit)

Family_members = input("Enter the number of family members: ")
print(Family_members)

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = x + y
print(z)

Enter your favourite fruit: Mango
Mango
Enter the number of family members: 4
4
Enter first number: 1
Enter second number: 2
3

### Arithmetic Operators

#### Examples:

In [ ]:
x = 5
y = 3
print("x = 5")
print("y = 3")
print("\n")

#Addition
addition = x + y
print("Addition: x + y = " + str(addition))

In [ ]:
#Subtraction
subtraction = x - y
print("Subtraction: x + y = " + str(subtraction))

In [ ]:
#Multiplication
multiplication = x * y
print("Multiplication: x * y = " + str(multiplication))

In [ ]:
#Division
division1 = x / y
print("Division: x / y = " + str(division1))

In [ ]:
#Division (round down/ floor)
division2 = x // y
print("Division: x / y = " + str(division2))

In [ ]:
#Modulus (remainder)
modulus = x % y
print("Modulus: x % y = " + str(modulus))

In [ ]:
#Power
power = x ** y
print("Power: x ** y = " + str(power))

#### Exercise:

Use the operators to solve the following equations

1. 6 + 4

2. ((27 * 2) + 46) ** 0.5

3. Find the modulus of 35 / 6

In [2]:
# Write code here.
print(6 + 4)
print(((27 *2) + 46)**0.5)
print(35%6)

10
10.0
5

### Comparison Operators

#### Examples:

In [ ]:
x = 10
y = 5
print("x = 10")
print("y = 5")

In [ ]:
print("Is x == y? (equal to)")
print(x == y)

In [ ]:
print("\nIs x != y? (not equal to)")
print(x != y)

In [ ]:
print("\nIs x > y? (greater than)")
print(x > y)

In [ ]:
print("\nIs x < y? (less than)")
print(x < y)

In [ ]:
print("\nIs x >= y? (greater than or equal to)")
print(x >= y)

In [ ]:
print("\nIs x <= y? (less than or equal to)")
print(x <= y)

#### Exercise:

Use the operators to solve for the following equation and print the outputs

1. 3 > 4
2. 3 == 4
3. 15 != 3

In [3]:
# Write code here.
print(3 > 4)
print(3 == 4)
print(15 != 3)

False
False
True

### Logical Operators

#### Example:

In [ ]:
#and
x = 10
print(x > 5 and x < 15)
#This returns True because 10 is greater than 5 AND 10 is less than 15.

In [ ]:
#or
x = 10
print(x > 5 or x < 2)
#This returns True because one of the conditions are true.
#10 is greater than 5, but 10 is not less than 2.

In [ ]:
#not
x = 10
print(not(x > 5 and x < 15))
#This returns False because not reverses the result of and.

#### Exercise:

Use the operators to evaluate whether these statements are  True  or   False.

1. 	x = 200

print(x > 4 or x < 300
22. 3 != 4 and 3 < 4
33. x = 20
0
print(not(x > 4 or x < )30

In [2]:
# Write code here.
x = 200
print(x > 4 or x < 300)
print(3 != 4 and 3 < 4)
print(not(x > 4 or x < 30))

True
True
False

### Identity Operators

#### Examples:

In [ ]:
x = ["bread", "cake"]
y = ["bread", "cake"]
z = x

#is
print(x is z)
#This returns true as x has been assigned to z, therefore, z and x points to the same object.

print(type(x) is list)
#This returns true as x is indeed a list object.

#Note that is is not the same as == (equals to)

In [ ]:
#is not
print(x is not y)
#This returns true as x and y are not the same objects even though they have the same content.

print(type(z) is not list)
#This returns false as z is indeed list x.

#### Exercise:

Use the operators to evaluate the following.

1. x = 200

y = 50
0
z =


print(z i

2. x = 200

y = 50
0
z y
y

print(x is not y)s y)

In [3]:
# Write code here.
x = 200
y = 50
z = 0
print(z is x)
print(x is not y)

False
True

### Membership Operators

#### Examples:

In [ ]:
#in
x = "Hello, World!"
print("ello" in x) #Returns true as it exists
print("hello" in x) #Returns false as 'h' is in lowercase
print("World" in x)#Returns true as it exists

In [ ]:
#not in
x = "Hello, World!"
print("ello" not in x) #Returns false as it exists
print("hello" not in x) #Returns true as it does not exist
print("World" not in x) #Returns false as it exists

#### Exercise:

Use the operators to solve for the following equations.

1. Is 200 in "200 years ago?"
2. Is "apples" in this list ["apple", "bananas", "cherries"]
3. "et" is not in "Let's go for a meal!" True or False?

In [5]:
# Write code here.
print("200" in "200 years ago?")
print("apples" in ["apple", "bananas", "cherries"])
print("et" not in "Let's go for a meal!")

True
False
False

### Conditional Statements:

#### Examples:

In [ ]:
#If Statement
#Example 1
x = 3
if x >= 2:
  print("x is bigger than or equal to 2.")

In [ ]:
#Example 2
x = -5
y = 5
if x > 0 or y > 0:
  print("Either x or y is bigger than 0.")

In [ ]:
#If-else statement
#Example 1
x = 30
if x >= 50:
  print("x bigger than or equals to 50.")
else:
  print("x is a number smaller than 50.")

In [ ]:
#Example 2
y = 300 // 23
if y == 13:
  print("The modulus of y is 13.")
else:
  print("The modulus of y is not 13.")

In [ ]:
#if-elif-else statement
a = 100
b = 20
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

#### Exercise:

1. If - Assign 10 to x. If x is bigger than 0, print "x is a positive number".

2. If-else - Assign -50 to y. If x is bigger than 0, print "x is a positive number". Else, print "x is a negative number".

3. If-elif-else - Assign 0 to z. If x is bigger than 0, print "x is a positive number". Else if x is zero, print "x is 0". Else, print "x is a negative number".

In [6]:
# Write code here.
x = 10
if x > 0:
    print("x is a positive number")

y = -50
if y > 0:
    print("y is a positive number")
else:
    print("y is a negative number")

z = 0
if z > 0:
    print("z is a positive number")
elif z == 0:
    print("z is 0")
else:
    print("z is a negative number")

x is a positive number
y is a negative number
z is 0

### For Loops

#### Examples:

In [ ]:
#for loops in a list
fruits = ["apples", "bananas", "cherries"]
for x in fruits:
  print (x)

In [ ]:
#for loops in strings
for x in "bananas":
  print(x)

In [ ]:
#for loops with breaks
studentsList = ["Anna", "Adora", "Adam"]
for student in studentsList:
  print(student)
  if student == "Anna": #telling the codes to stop after Adora
    break

In [ ]:
#for loops with continue
for char in "bananas":
  if char == "a": #telling the codes to skip all the a character, and continue
    continue
  print(char)

#### Exercise:

1. Create a list containing 5 names and use the  for  loop to print out all the names

2. Use the same list from number 1, use  break  to stop after the third element.

3. Iterate the string "hullaballoo". Use  continue  to skip all the letter 'l', and print the rest.

In [7]:
# Write code here.
names = ["Adam","Adora","Ella","Lila","James"]
for name in names:
    print(name)
for name in names:
    print(name)
    if name == "Ella":
        break

for letters in "hullaballoo":
    if letters == "l":
        continue
    print(letters)

Adam
Adora
Ella
Lila
James
Adam
Adora
Ella
h
u
a
b
a
o
o

### While Loops

#### Examples:

In [ ]:
i = 1
while i < 5:
  print(i)

In [ ]:
i = 1
while i < 5:
  print(i)
  i += 1
else:
    print("i is no longer less than 5")

In [ ]:
i = 1
while i < 10:
  print(i)
  if i == 5: #tells the code to break when it reaches a value of 5
    break
  i += 1 #tells the code to add 1 to each iteration

In [ ]:
i = 0
while i < 5:
  i += 1  #adds 1 to each iteration
  if i == 2:
    continue  #if i is equals to 2, skip it and continue to print the next
  print(i)

#### Exercises:

Assign the integer 10 to variable i and increase it by 10 for each iteration.

1.  while  loop - Print the iteration as long as it is below 100.

2.  while  loops with  continue  - Skip the iteration when it is at 50.

3.  while  loops with  break  - Stop the iteration at 70.

4.  while  loops with  else  - Once the iteration reaches 100, print "i is no longer less than 100".

In [8]:
# Write code here.
i = 10
while i < 100:
    print(i)
    i += 10
    if i == 50:
        continue
    if i == 70:
        break
else:
    print("i is no longer less than 100")

10
20
30
40
50
60

### Functions

#### Exercises:

Let's create a function that will help us check if a number is prime.

A number is prime if the number is only divisible by 1 and itself.

This function will take in 1 argument, N, which is the number we want to check. Next, it will go through all the numbers from 1 to N and perform modulo checks.lohe

In [10]:
# Write code here.
def is_prime(N):
    for i in range(2,N):
        if N % i == 0:
            return False
    return True

print(is_prime(7))

True

1. You have 103 apples and would like to share them with 5 people. Write a function to find the remainder.
> Hints: 5 % 4 gives remainder when 5 divided by 4
>

2. Write a recursive function that will return the nth term of the Fibonacci sequence.
> The sequence has a relationship of Fn = Fn-1 + Fn-2 with F0 = 0 and F1 = 1, where n=0,1,2,3,4,5,...
>
>
The sequence looks like: 0,1,1,2,3,5,8,13,.

3. Write a function that will count how many odd numbers is present in a given list of integers.
> Hint: Use this list to check your function
[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20

4. Write a lambda expression that will cube all the numbers in the list below

num = [1,2,3,4,5,6,7,8]]..

In [11]:
# Write code here.
def remainder(apples, people):
    return apples % people
print(remainder(103,5))

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(7))

def odd_count(lst):
    count = 0
    for i in lst:
        if i % 2 != 0:
            count += 1
    return count
print(odd_count([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]))

cube = lambda x: x**3
num = [1,2,3,4,5,6,7,8]
print(list(map(cube, num)))

3
13
10
[1, 8, 27, 64, 125, 216, 343, 512]